aiohttp==3.7.4
python-dateutil==2.7.5
numpy==1.15.3
scipy==1.1.0
rasterio==1.1.2
rio-color==1.0.0
rio-hist==0.3.0
shapely==1.6.4
pyproj==1.9.5.1
scikit-image==0.14.1
tifffile==2018.11.28
gbdxtools==0.16.0
dask==0.20.1
google-cloud-storage==1.13.1
planet==1.2.0
gunicorn==19.9.0
Flask==1.0.2
flask_restful==0.3.6
redis==2.10.6
rq==0.12.0
rio-cogeo==1.1.9
awscli==1.16.93
sentinelhub==2.6.1
